.header {
    position: sticky;
    top: 0;
    left: 0;

    display: inline-flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    padding: 1rem 0;

    background-color: white;
    box-shadow: 8px 10px 44px 0 #0000001A;

    z-index: 10;
}

.container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0 1rem;
}