.task {
    position: relative;

    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin-bottom: .5rem;
    padding: 1rem;

    background-color: rgba(242, 244, 247, 30);
    border-radius: .75rem;

    > * {
        display: inline-flex;
        justify-content: center;
        width: 10%;
    }

    &:hover {
        background-color: #e5e7ea;
    }
}

.deleted {
    opacity: .3;
}

.processing {
    position: relative;
    overflow-x: hidden;

    width: 10%;
    height: 1rem;

    background-color: #aaa7a7;
    border-radius: .3rem;

    > .flare {
        position: absolute;
        top: 0;
        height: 100%;
        width: 45px;
        transform: skewX(-45deg);
        left: -150%;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
        animation: flareAnimation 1.5s infinite linear;
    }
}


@keyframes flareAnimation {
    0% {
        left: -150%;
    }
    100% {
        left: 150%;
    }
}
